*{
  font-family: 'Poppins', sans-serif;
}

main {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}

.container-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 25%;

}

.container-radio {
  display: flex;
}

.container-radio div {
  padding: 10px;
}

form label {
  color: #ebc181;
  font-weight: bold;
  margin-bottom: 5px;
}
form input {
  border-radius: 10px;
  border: 3px solid #333b1e;
  padding: 10px;
  margin-bottom: 10px;
  transition: 0.5s;
  /* width: 100%; */
}

form input[type="file"] {
  color: #ffffff;
}

form input::file-selector-button {
  padding: 5px;
  border-radius: 5px;
  border: none;
}

form input:focus {
  border: 3px solid #ebc181;
  outline: none;
}
.links {
  text-align: center;
  margin-top: 1.5rem;
}

.links p {
  /* color: #333b1e; */
  font-size: 0.9rem;
}

.links a {
  color: #9b8357;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease;
}

.links a:hover {
  color: #ebc181;
}
